
* {
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(255, 245, 222);
}

h1 {
    height: 100px;
    width: auto;
    background-color: red;
    font-size: 50px;
    color: rgb(255, 221, 0);
    text-align: center;
    padding: 20px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul{

    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 100px;
    margin-top: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    color: red;
}